#root {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
}

.text-align-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.d-flex {
  display: flex;
  gap: 20px;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.center-column {
  align-items: center;
}

.available-country-card {
  margin-bottom: 1rem;
  padding: 1rem;
}

.available-country-card:hover {
  cursor: pointer;
}

.full-width {
  flex-basis: 100%;
}

.full-width-column {
  align-items: stretch;
}

.flex-min-height {
  align-self: flex-start;
}