#root {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
}

.d-flex {
  display: flex;
  gap: 20px;
}

#availableCountriesSection {
  background-color: bisque;
}

#upcomingHolidaysSection {
  background-color: rgb(159, 110, 49);
}

.available-country-card {
  background-color: rgb(229, 221, 212);
  margin-bottom: 1rem;
  padding: 1rem;
}

.available-country-card:hover {
  background-color: antiquewhite;
}

.holiday-card {
  background-color: blanchedalmond;
}

.full-width {
  flex-basis: 100%;
}

.flex-min-height {
  align-self: flex-start;
}